@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

th, td {
  border: ridge;
  margin: 40px;
  padding: 10px;
}
.null {
  background-color: #e5e525;
}
.text-field{
  margin: 40px;
}

label.error
{
  padding: 10px;
  color: #cc0033;
}